<% provide(:title, "Find Vehicle Nearby") %>
<div class = "row text-center"><div class = "col-sm-3"></div>
<div class = "col-sm-6">
<h1>The Cloest Parking</h1>
<h5 class = "text-muted"><%= @resultLocation.name %></h5><br><br>

<% @resultLocation.vehicles.each do |vehicle| %>
<div class="card shadow text-center">
  <%= image_tag("https://images.unsplash.com/photo-1539713904642-b4d144f769d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80", size:"200") %>
  <div class="card-body">
  <h5 class="card-title"><%= vehicle.name %></h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= vehicle.detail %></li>
    <li class="list-group-item">AUD $<%= vehicle.price %>/hour</li>
    <% if vehicle.statu == 1 %>
      <li class="list-group-item"><%= "Avaliable" %></li>
      <li class="list-group-item align-center"><%= link_to "Order Now!", new_order_path,class: "btn btn-outline-primary" %></li>
    <% else %>
      <li class="list-group-item"><%= "Ordered" %></li>
      <li class="list-group-item align-center">
        <a href="#" class="btn btn-danger btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Busy!</a>
      </li>
    <%end%>
    
  </ul>
  </div>
</div><br><br>
<% end %>

</div>

</div>

