<div class = "container text-center">
<h1 class = "display-4">Welcome to MoCar!</h1>
<p class="lead">This is a car sharing website, we focus on giving you best experience.</p><br>
</div>
<div class = "row">
<div class = "col-sm-6">
<div style="width:100%;height:700px;">
  <div id="map" class="shadow"></div>
  <%= render 'map' %>
</div></div>

<div class = "col-sm-6">
<div style="width:100%;top:20%;right:0.5%;height:60%;background:#fff;border-radius:10px;">
  <div class="card shadow" style="height:100%;border-radius:10px;">
    <h2 class="card-title text-center">Search vehicles by address:</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class = "row">
            <div class = "col-sm-10">
              <input id="inputLocation" type="text" placeholder="Search here..." class = "form-control">
            </div>
            <button id="search" class = "btn btn-outline-primary">Search</button>
          </div>
        </li>
        <% Vehicle.all.each do |vehicle| %>
          <li class="list-group-item">
            
            <div class = "row">
              <div class = "col-sm-2">
                <%= image_tag("https://images.unsplash.com/photo-1523676060187-f55189a71f5e?ixlib=rb-1.2.1&w=1000&q=80", size:"100") %>
              </div>
              
              <div class = "col-sm-9">
                <table>
                  <tr><td><label>Name:</label>&nbsp&nbsp<%= link_to vehicle.name, vehicle_path(vehicle) %></td></tr>
                  <tr><td><label>Price:</label>&nbsp&nbspUSD $<%= vehicle.price %>/h</td></tr>
                  <tr><td><label>Pick up Location:</label>&nbsp&nbsp<%= vehicle.location %></td></tr>
                </table>
              </div>
              
            </div>
          </li>
        <% end %>
    </ul>
  </div>
</div></div>






</div>
