
<div class="card shadow">
    <h2 class="card-title text-center">Search vehicles by address:</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <input id="inputLocation" type="text" placeholder="Search here..." class = "form-control">
        </li>
    </ul>
</div>
    <br>
    <div id="map" class = "shadow"></div>
  
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });
        
        var userIcon = {
          url: 'https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-512.png', 
          scaledSize: new google.maps.Size(40, 40)
        };
        
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setCenter(pos);

            var user = new google.maps.Marker({
              position: {lat: position.coords.latitude, lng: position.coords.longitude},
              map: map,
              icon: userIcon,
              animation: google.maps.Animation.DROP
            })
                
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }


        var input = document.getElementById('inputLocation');
        if(input == "" || input == null){
           
        }
//-----------------------------------------------------------------------------
        var image = {
          url: 'https://lh3.googleusercontent.com/qib447aK25hGM1wSNa6xPEa4qiPJX0Dqa8CHCltVhi_ETjGeZdSYaY6GMAiLT4QOsaA', 
          scaledSize: new google.maps.Size(30, 30)
        };
        
        <% Vehicle.all.each do |vehicle| %>
          <% results = Geocoder.search(vehicle.location) %>
          <% coordinate = results.first.coordinates %>
          var stateLibary<%= vehicle.id %> = new google.maps.Marker({
            position: {lat: <%= coordinate.first.to_f %>, lng: <%= coordinate.second.to_f %>},
            map: map,
            icon: image,
            url: 'https://www.baidu.com'
          });
          
          var infowindow<%= vehicle.id %> = new google.maps.InfoWindow({
          content: '<div id="content">'+
                  '<div id="siteNotice">'+
                  '</div>'+
                  '<h1 id="firstHeading" class="firstHeading"><%= link_to vehicle.name, vehicle_path(vehicle) %></h1>'+
                  '<div id="bodyContent">'+
                  '<p><b><%= vehicle.detail %></b></p>'+
                  '<p><b>Price：</b><%= vehicle.price %></p>'+
                  '<p><b>Location：</b><%= vehicle.location %></p>'+
                  '</div>'+
                  '</div>'
          });

          //用来监听点击事件，如果点击地图上图标，就会跳转。现在是只需要弹出信息框
          google.maps.event.addListener(stateLibary<%= vehicle.id %>, 'click', function() {
            infowindow<%= vehicle.id %>.open(map, stateLibary<%= vehicle.id %>);
          });
        <% end %>
        
        // var flinderS = new google.maps.Marker({
        //   position: {lat: -37.818300, lng: 144.967100},
        //   map: map,
        //   icon: image,
        //   url: 'locations/2'
        // });
        
        // //用来监听点击事件，如果点击地图上图标，就会跳转。现在是只需要弹出信息框（待完成）
        // google.maps.event.addListener(stateLibary, 'click', function() {
        //     window.location.href = this.url;
        // });
        // //地图上点进去会报错，因为这个模型已经删掉了，报错是正常，这里就只是演示一下事件监听
        // google.maps.event.addListener(flinderS, 'click', function() {
        //     window.location.href = this.url;
        // });
        
//------------------------------------------------------------------------------
        var autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.bindTo('bounds', map);

        autocomplete.setFields(
            ['address_components', 'geometry', 'icon', 'name']);

        var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function() {
          marker.setVisible(false);
          var place = autocomplete.getPlace();
          if (!place.geometry) {

            window.alert("The address is invalid: '" + place.name + "'");
            return;
          }

          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(13);
          }
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);

        });

      }
      
     function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=
    AIzaSyAmMsed0zPFAgZoiy8oORF6kZTurpIrdg0&libraries=places&callback=initMap"
        async defer></script>