<% provide(:title, 'MoCar') %>

<div class="text-center">
  
<!--<meta http-equiv="refresh" content="1">-->
<h1>Welcome to use MoCar!</h1>
<p class = "text-muted">Your location is currently shown on the map,
choose a parking to get start.
</p><br>
<div class = "row" >

<div class = "col-sm-3"></div>
<div class = "col-sm-6">
  
<div id="map"></div>
<br><br>
  
  <%= render 'map' %>
  
  
<%= form_tag("/autoFind", method: "POST") do %>
    <%= hidden_field_tag :userLat %>
    <%= hidden_field_tag :userLng %>
    <%= submit_tag "Find a car at the nearest location.", class: "btn btn-info" %>
<% end %>


  
  <%= link_to "Car list sorted by Locations", locations_url, class: "btn btn-info" %>
</div>

</div>


</div>
