<% provide(:title, "Log in") %>


<div class="jumbotron text-center">
  <h1>Log in</h1>
  <div>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-success" %>
    <% end %>

    <p>If you aren't our member, <%= link_to "Click here to join us!", signup_path %></p>
  </div>
</div>
