<% provide(:title, @user.name) %>

<div class = "row text-center"><div class = "col-sm-3">
  <div class = "card shadow text-center">
    <br>
    <h5 class = "card-title">Maintains</h5>
    <p class = "card-body"><%= link_to "Update Profile", edit_user_path(@user), class: "btn btn-primary" %></p>
    <% if @user.isadmin == 1 %>
    <h5 class = "card-title">Admin Maintains</h5>
      <p class = "card-body">
        
        <%= link_to "Maintains Users", users_path, class: "btn btn-success" %><br><br>
        <%= link_to "Maintains Vehicles", vehicles_path, class: "btn btn-success" %>
      </p>
    <% end %>
  </div>
    
</div>

<div class = "col-sm-6">
<h1>
  Welcome, <%= @user.name %>!
</h1><br>

<h3>
    Booking Reports:
</h3><br><br>

  <% Order.where(user_id: @user.id).each do |order| %>
<div class="card shadow text-center">
    <% if order.aasm_state == "pending" %>
      <span class="badge badge-warning">Pending</span>
    <% elsif order.aasm_state == "completed" %>
      <span class="badge badge-success">Completed</span>
    <% elsif order.aasm_state == "cancelled" %>
      <span class="badge badge-dark">Cancelled</span>
    <% end %>  
<br>

  <h1 class="card-title">#.<%= link_to "#{order.id} Order", order_path(order) %> </h1><br>
  <h5>Vehicle name: <%=  order.vehicle.name %><h5>
  <h5>Pick up Date: <%= order.start %><h5>
  <h5>Return Location: <%= order.location.address %><h5>
  <h6 class = "text-muted">See more details about this order by clicking title<h6>

</div><br>
  <% end %>


</div>
</div>
