
<div class = "row text-center"><div class = "col-sm-3"></div>
<div class = "col-sm-6">
<div class="card shadow text-center">
<br>
<h3>
  #.<%= @order.id %> Order
</h3>
<br>

<div class="card-header"><h6>Owner:</h6></div>
<ul class="list-group list-group-flush">
   <li class="list-group-item"><%= @order.user.name %></li>
</ul>

<div class="card-header">Vehicle Booked:</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item"><%= @order.vehicle.name %></li>
</ul>

<div class="card-header">Vehicle Price:</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item"><%= @order.vehicle.price %> USD$/h</li>
</ul>

<div class="card-header">Pick up and Return Time:</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item">From  (<%= @order.start %>)  to  (<%= @order.end %>)</li>
</ul>

<div class="card-header">Total Amount:</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item">USD$ <%= @order.price %></li>
</ul>

<div class="card-header">Return Location:</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item"><%= @order.location.address %></li>
</ul>

<li class="list-group-item">

  <% if @order.aasm_state == "pending" %>
    <%= link_to "Pay", pay_order_order_path(@order), method: :post, class: "btn btn-primary btn-midSize" %>&nbsp&nbsp&nbsp
    <%= link_to "Cancel", cancel_order_order_path(@order), method: :post, class: "btn btn-danger btn-midSize" %>
  <% elsif @order.aasm_state == "completed" %>
    <a href="#" class="btn btn-success btn-lg disabled btn-max-width" tabindex="-1" role="button" aria-disabled="true">Completed!</a>
  <% elsif @order.aasm_state == "cancelled" %>
    <a href="#" class="btn btn-dark btn-lg disabled btn-max-width" tabindex="-1" role="button" aria-disabled="true">Cancelled</a>
  <% end %>
   
</li>

<li class="list-group-item">
  
    <% if @order.aasm_state == "completed" %>
      <%= Geocoder.search(request.ip).first.coordinates %>
      <%= link_to "return vehicle", return_car_order_path %>
    <% elsif @order.aasm_state == "pending" %>
        <a href="#" class="btn btn-danger btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">
            You cannot pick/return the car until you finish the payment!
        </a>
    <% end %>
</li>

</div>
</div>
</div>

<!--<script>-->



<!--var x = document.getElementById("demo");-->

<!--function getLocation() {-->
<!--  if (navigator.geolocation) {-->
<!--    navigator.geolocation.getCurrentPosition(showPosition);-->
<!--  } else { -->
<!--    x.innerHTML = "Geolocation is not supported by this browser.";-->
<!--  }-->
<!--}-->

<!--function showPosition(position) {-->
<!--  x.innerHTML = "Latitude: " + position.coords.latitude + -->
<!--  "<br>Longitude: " + position.coords.longitude;-->
<!--}-->

  

  
<!--</script>-->











