
<div class = "row text-center"><div class = "col-sm-3"></div>
<div class = "col-sm-6">
<div class="card shadow text-center">
<br>
<h3>
  #.<%= @order.id %> Order
</h3>
<br>

<div class="card-header"><h6>Owner:</h6></div>
<ul class="list-group list-group-flush">
   <li class="list-group-item"><%= @order.user.name %></li>
</ul>

<div class="card-header">Vehicle Booked:</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item"><%= @order.vehicle.name %></li>
</ul>

<div class="card-header">Vehicle Price:</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item"><%= @order.vehicle.price %> USD$/h</li>
</ul>

<div class="card-header">Pick up and Return Time:</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item">From  (<%= @order.start %>)  to  (<%= @order.end %>)</li>
</ul>

<div class="card-header">Total Amount:</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item">USD$ <%= @order.price %></li>
</ul>

<div class="card-header">Return Location:</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item"><%= @order.location.address %></li>
</ul>

<li class="list-group-item">

  <% if @order.aasm_state == "pending" %>
    <%= link_to "Pay", pay_order_order_path(@order), method: :post, class: "btn btn-primary btn-midSize" %>&nbsp&nbsp&nbsp
    <%= link_to "Cancel", cancel_order_order_path(@order), method: :post, class: "btn btn-danger btn-midSize" %>
  <% elsif @order.aasm_state == "completed" %>
    <a href="#" class="btn btn-success btn-lg disabled btn-max-width" tabindex="-1" role="button" aria-disabled="true">Completed!</a>
  <% elsif @order.aasm_state == "cancelled" %>
    <a href="#" class="btn btn-dark btn-lg disabled btn-max-width" tabindex="-1" role="button" aria-disabled="true">Cancelled</a>
  <% end %>
   
</li>

<li class="list-group-item">
  
    <% if @order.aasm_state == "completed" && @order.return_car == 0 %>
      <%= link_to "return vehicle", return_car_order_path, class: "btn btn-primary", :id => "returnCar", disabled: true %>
      <a href="#" class="btn btn-info btn-lg disabled" tabindex="-1" role="button" aria-disabled="true" id = "return_info">
            You are too far from return station.
        </a>
    <% elsif @order.aasm_state == "pending" %>
        <a href="#" class="btn btn-danger btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">
            You cannot pick/return the car until you finish the payment!
        </a>
    <% elsif @order.return_car == 1 && @order.aasm_state == "completed" %>
        <a href="#" class="btn btn-info btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">
            Thank you for your using!
        </a>
    <% end %>
</li>

</div>
</div>
</div>

<script>
function initMap() {
  // document.getElementById("returnCar").disabled = true;
  $("#returnCar").hide();
  if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          
          
          var return_location = <%= Geocoder.search(@order.location.address).first.coordinates %>;
          var current_location = [position.coords.latitude, position.coords.longitude];
          
          var distance = js_dist(position.coords.latitude, position.coords.longitude, return_location[0], return_location[1]);
          
          console.log(distance);
          if (distance <= 2){
            //document.getElementById("returnCar").disabled = false;
            $("#returnCar").show();
            $("#return_info").hide();
          }
          
          
          
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        handleLocationError(false, infoWindow, map.getCenter());
      }
  
}

  function js_dist(lat1, lng1, lat2, lng2) {
    var radLat1 = lat1 * Math.PI / 180.0;
    var radLat2 = lat2 * Math.PI / 180.0;
    var a = radLat1 - radLat2;
    var b = lng1 * Math.PI / 180.0 - lng2 * Math.PI / 180.0;
    var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a / 2), 2) + Math.cos(radLat1) * Math.cos(radLat2) * Math.pow(Math.sin(b / 2), 2)));
    s = s * 6378.137;
    s = Math.round(s * 10000) / 10000;
    return s
};
</script>

<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAmMsed0zPFAgZoiy8oORF6kZTurpIrdg0&libraries=places&callback=initMap" async defer></script>









