<%= form_for(@vehicle) do |f| %>
  <%= render 'error_messages', object: @vehicle %>
  
  <% locations = [] %>
  <% Location.order(:id).each do |location| %>
    <% locations << location.name %>
  <% end %>
  
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  
  <label>Locations</label><br>
  <%= f.collection_select(:location_id, Location.all, :id, :name, :prompt => "Add/Update this vehicle to...")  %><br>
      
  <%= f.label :detail %>
  <%= f.text_area :detail,class: 'form-control noresize', 
    size: '50x10' %>

  <%= f.label :price %>
  <%= f.number_field :price, :step => 0.01 ,class: 'form-control' %>


  <%= f.submit yield(:button_text), class: "btn btn-success" %>
<% end %>