<% provide(:title, @vehicle.name) %>

<div class = "row text-center">
 
<div class = "col-sm-3">
  <div class="card shadow">
    <div class = "container">
      <br>
      <h3 class="card-title"><%= @vehicle.name %></h3>
      <h6 class="card-subtitle mb-2 text-muted"><%= @vehicle.location %></h6><br>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h6>Vehicle Discription:</h6></li>
      </ul>
      <br>
      <p class="card-text"><%= @vehicle.detail %></p>
    </div>
    <br>
  </div>
</div>


<div class = "col-sm-6">
   <%= image_tag("https://images.unsplash.com/photo-1523676060187-f55189a71f5e?ixlib=rb-1.2.1&w=1000&q=80", class: "card-img-top img-radius shadow") %>
</div>
<div class = "col-sm-3">
  <div class="card shadow">
    <div class = "container">
      <br>
      <div class="border-bottom"><h3 class="card-title">More Details<br></h3></div>
      <p class="card-text"><label>Price:</label>USD $<%= @vehicle.price %>/hour</p>
      <p class="card-text">
        <label>Status:</label>
        <% if @vehicle.statu == 1 %>
          Available
        <% elsif @vehicle.statu == 0 %>
          NOT available
        <% end %>
      </p>
      
      <% if @vehicle.statu == 1 %>
        <%= link_to "Book this vehicle", new_order_path(vehicle_id: @vehicle), class: "btn btn-info btn-max-width" %>
      <% else %>
        <% order = Order.find_by(vehicle_id: @vehicle.id, return_car:0) %>
        <p class="card-text"><label>Busy Period:</label>
        </p>
        <p>From <%= order.start %> to <%= order.end %></p>
        <a href="#" class="btn btn-danger btn-lg disabled btn-max-width" tabindex="-1" role="button" aria-disabled="true">Busy!</a>
        
      <% end %>
        

      
      <br><br>
      <% if logged_in? %>
        <% if current_user.isadmin == 1 %>
          <label>Admin maintain: </label>
          <%= link_to "Change this vehicle's details", edit_vehicle_url(@vehicle), class: "btn btn-warning btn-max-width" %>
        <% end %>
      <% end %>
    </div>
    <br>
  </div>
</div>


</div>
<br><br>
