<% provide(:title, "Locations") %>

<h1>Locations</h1>

<% @locations.each do |location| %>
  Name: <%= location.name %>, latitude: <%= location.latitude %>, longitude: <%= location.longitude %><br>
  <% location.vehicles.each do |vehicle| %>
    <li><%= link_to vehicle.name, vehicle %></li>
    <li><%= vehicle.detail %></li>
    <li>$<%= vehicle.price %></li>
    <% if vehicle.statu == 1 %> 
      <li>Statu: Available</li>
    <% elsif vehicle.statu == 0 %>
      <li>Statu: Not Available</li>
    <% else %>
      <li>Statu: ERROR!</li>
    <% end %>
    <li><%= link_to "delete this vehicle", vehicle, method: :delete, data: { confirm: "Are you sure to delete?" } %></li>
    <p>-------------------------------------</p>
  <% end %>
<% end %>






