<header class="navbar bg-dark">

  <div class="container">
    <%= link_to "CarSharingSite", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   root_path %></li>
          <% if logged_in? %>
            <li><%= link_to current_user.name, user_url(current_user.id) %>
                , <%= link_to "Log out", logout_path, :method => :delete %>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>