<header>
  
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "MOCAR", root_path, id: "logo" %>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav navbar-right">
      <li>
        <%= link_to "Home", root_path, :class => "nav-link" %>
      </li>
      <% if logged_in? %>
      <%= link_to current_user.name, user_url(current_user.id), :class => "nav-link" %>
      <%= link_to "Logout", logout_path, :method => :delete ,:class => "nav-link" %>
      <% else %>
      <li>
        <%= link_to "Login", login_path, :class => "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>  
</div>
  
  
  

</header>