<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/default' %>
    <%= render 'layouts/shim' %>
    <%= include_gon %>
  </head>
  <body>
<%= render 'layouts/header' %>
    
      
      <!--Adding 'close' to flash notice-->
      <% flash.each do |message_type, message| %>
        <% alert_class = case message_type
                         when :notice then "success"
                         when :alert then "danger"
                         else message_type
                         end %>
                         
        <%= content_tag :div, class: "alert alert-#{alert_class} alert-danger" do %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        <% end %>
      <% end %>
    <div class="jumbotron">
      
      <%= yield %>

    </div>
    
  
  </body>


</html>